.projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.goalsHeader {
    font-family: 'sans-serif';
    display: flex;
    margin: auto;
    width: 42.3%;
    font-size: 45px;
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 800px !important;
    height: 800px !important;
    border: 3px solid;
}

.react-pdf__Page__textContent {
    display: none;
    color: transparent;
    size: 1px;
}

.react-pdf__Page__annotations {
    display: none;
    color: transparent;
    size: 1px;
}


.goals-button-container {
    display: flex;
    justify-content: center;
}