.projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 800px !important;
    height: 100% !important;
    border: 3px solid;
}

.react-pdf__Page__textContent {
    display: none;
    color: transparent;
    size: 1px;
}

.react-pdf__Page__annotations {
    display: none;
    color: transparent;
    size: 1px;
}