.about {
    max-width: 100%;
    margin-top: 1000px;
    padding-top: 45px;
    padding-bottom: 45px;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: #8dde8d;
    margin-bottom: 500px;
    color: white;
    font-family: sans-serif;
    position: relative;
}

.paragraph1 {
    font-weight: bold;
}
.aboutHeader {
    font-size: 40px;
}

.aboutMeIcons {
    font-size: 50px;
}

.socials {
    font-size: 25px;
    font-weight: bold;
}

 a { 
    padding-right: 10px;
 }

 a:visited {
    color: white;
 }