.goalsHeader {
    font-family: 'sans-serif';
    display: flex;
    margin: auto;
    width: 42.3%;
    font-size: 45px;
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.goalsContainer {
    display: block;
    justify-content: center;
    border: 5px solid black;
    max-width: 100%;
    height: 75vh;
    text-align: center;
    overflow: auto;
    

}

.goalsList {
    font-size: 1vh;
    list-style: none;
}

.goals-button-container {
    display: flex;
    justify-content: center;
}