.homeContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    margin: auto;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.header_name {
    font-size: 5vh;
    margin-bottom: 0;
    font-family: sans-serif;
}

.typewriter {
    font-size: 25px;
    margin-top: 25px;
    font-weight: 100;
}


.app {
    margin: 0;
}