.goalsHeader {
    font-family: 'sans-serif';
    display: flex;
    margin: auto;
    width: 42.3%;
    font-size: 45px;
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.goalsContainer {
    text-align: center;
    display: block;
    justify-content: center;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-width: 50%;
    width: 75%;
    height: 75vh;
    overflow: auto;
}

.goalsList {
    font-size: 16px;
    list-style: none;
    text-align: center;
}

.goals-button-container {
    display: flex;
    justify-content: center;
}